.evidence/template
.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode/settings.json
.env
.evidence/meta
spotify-evidence/node-modules/
spotify-evidence/.evidence
spotify-evidence/build/
